
@{
    ViewBag.Title = "Yakinda";
}




<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CSS/Yakinda.css" />
</head>
<body>
    <div class="Yakinda">
        <h4 style="color:white"><b>YAKINDA</b></h4>
    </div>
    <div class="container">
        <div>
            <div class="jumbotron" style="background-color:transparent">



                <div>
                    <div class="form-group row">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-left-block" src="~/Resimler/aslankral.jpg" style="width:250px; height:200px; object-fit:cover" />
                                <br />

                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    19 Temmuz 2019 / 1s 58dk / Macera, Animasyon
                                    Yönetmen Jon Favreau
                                    Oyuncular: Donald Glover, Beyoncé Knowles-Carter, James Earl Jones
                                    Aslan Kral, yavru bir aslan olan Simba’nın maceralarını konu ediyor. Ormanın kralı olan babası Mufasa'ya hayran bir yavru aslan olarak mutlu bir hayat süren Simba, sinsi amcası Scar'ın planlarından habersizdir.
                                </span>
                            </div>



                            <div class="col-xs-10 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-center-block" src="~/Resimler/hizliveofkeli.jpg" style="width:250px; height:200px; object-fit:cover;" />
                                <br />

                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    Hızlı ve Öfkeli: Hobbs ve Shaw
                                    2 Ağustos 2019 / 2s 14dk / Aksiyon
                                    Yönetmen David Leitch
                                    Oyuncular: Dwayne Johnson, Jason Statham, Idris Elba
                                    Hızlı ve Öfkeli serisinin spin-off filmi olan Hobbs & Shaw, seriden tanıdığımız Luke Hobbs ve Deckard Shaw karakterlerine odaklanıyor.
                                </span>
                            </div>






                            <div class="col-xs-10 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-right-block" src="~/Resimler/siiccin.jpg" style="width:250px; height:200px; object-fit:cover;" />
                                <br>

                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">

                                    Siccin 6
                                    5 Eylül 2019 / Korku
                                    Yönetmen Alper Mestçi
                                    Oyuncular: Merve Ateş, Adnan Koç, Dilara Büyükbayraktar
                                    <br />Siccin 6, akli dengesi bozuk olan bir kızın karanlık geçmişi ile yüzleşmek zorunda kalan bir ailenin yaşadıklarına odaklanıyor.
                                </span>
                            </div>
                        </div>











                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
