
@{
    ViewBag.Title = "Defne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    
</head>
<body>

    <div class="container">
        <div class="jumbotron" style="background-color:transparent">
            <div class="form-group row">
                   <h2>
                       Hatay Büyükşehir Belediyesinin bakım ve onarım çalışmaları devam etmektedir.. :)
                   </h2>
            </div>
        </div>
    </div>
</body>
</html>

