
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CSS/HakkimizdaStyle.css" />
</head>
<body>
    <div class="content">
        <h4 style="color:white;"><b>HAKKIMIZDA</b></h4>
    </div>
    <div class="container">
        <div>
            <div class="jumbotron" style="background-color:transparent">

                <h2 style="text-align:center">Hatay Büyükşehir Belediyesi Şehir Tiyatrosu</h2>

                <div>
                    <div class="form-group row">
                        <div class="row">
                            <div class="col-md-6">
                                <span>
                                    <br>
                                    Tiyatro anlamında Hatay'a yakışır bir sanat kurumu olarak kalıcı işler yapmak adına yola çıktık.
                                    Bu yolda tüm Hatay'a hizmet etmenin heyecanı ve coşkusu ile doluyuz. Bu heyecanı ve coşkuyu yaşamak ve yaşatmak adına Hatay Büyükşehir Belediye Şehir Tiyatrosu olarak yapılandık.<br>

                                    <br>Geçmişi yirmi beş yıl öncesine kadar giden büyük şehir belediyesi tiyatrosu, Hatay'a tiyatro anlamında daha kapsamlı, daha özgün çalışmalarla hizmet etmek adına faaliyet göstermektedir.Tiyatroyu Hatay'ın her köşesine ulaştırabilmek için adımlar atmakta ve bunun altyapısını bitirmek üzereyiz. En geç iki ay içerisinde yeni yerine taşınacak olan belediye şehir tiyatromuz burada oluşturacağı ortamla tüm Hatay'a sesleneceği bir merkeze dönüşecektir.<br>

                                    <br />
                                </span>
                            </div>
                            <div class="col-md-6">
                                <img class="img-responsive img-thumbnail" src="~/Resimler/hh.jpg" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-responsive img-thumbnail" src="~/Resimler/h2.jpg" />
                            </div>
                            <div class="col-md-6">
                                <span>
                                    <br>Defne ilçesine bağlı Çekmece mahallesindeki yeni yerine taşınacak olan tiyatromuz başta Hatay'ın yetiştirdiği sanatçılar olmak üzere Hatay'a hizmet etmek isteyen herkese kapılarını açacaktır.Tarihi yüzyıllar öncesine dayanan ve birçok medeniyete ev sahipliği yapan Hatay'ın; kültürel mirasını tiyatro anlamında gelecek kuşaklara aktarmak gibi bir misyonu olan tiyatromuz sanatsal anlamda Hatay halkına ilkleri sergilemek adına çalışmalarda yapmaktadır.<br>

                                    <br>Her sezonda en az iki büyük, iki çocuk oyunuyla sahnelerini açmayı planlayan tiyatromuz; bölgemizde bir ilk olan okul öncesi çocuklara yönelik <b>"Masal Saati"</b> etkinlikleri, 8-11 yaş grubu çocuklardan oluşturulacak <b>"Çocuk Tiyatrosu"</b> ile halkımızın karşısına çıkacaktır.<br>

                                    <br>Bunların yanında geleneksel hale getireceği tiyatro festivalleri, ramazan şenlikleri, drama ve oyunculuk çalışmaları, yetişkinlerden ve toplumun her kesiminden gönüllerden oluşacak fahri tiyatro ekipleri ile tüm Hatay'ımızı kucaklayacak etkinliklere imza atacaktır.<br />
                                    <br>Başta tiyatro olmak üzere sanatsal anlamda Hatay'a değer katmak için varız. Hatay tiyatrosu ile her şey daha güzel..<br />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



















@*<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .responsive {
                width: 100%;
                height: auto;
            }
        </style>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/CSS/HakkimizdaStyle.css" />
    </head>
    <body>
        <div class="content">
            <h4 style="color:white;"><b>HAKKIMIZDA</b></h4>
        </div>

        <div class="container">
            <div>
                <div class="jumbotron" style="background-color:transparent">

                    <h2 style="text-align:center">Hatay Büyükşehir Belediyesi Şehir Tiyatrosu</h2>


                    <div>
                        <div class="form-group row">
                            <div class="col-xs-8 col-sm-5 col-lg-5">
                                <div class="row">
                                    <div class="col-xs-11 col-sm-11 col-md-11" style="background-color:transparent">
                                        <span>
                                            <br>
                                            Tiyatro anlamında Hatay'a yakışır bir sanat kurumu olarak kalıcı işler yapmak adına yola çıktık.
                                            Bu yolda tüm Hatay'a hizmet etmenin heyecanı ve coşkusu ile doluyuz. Bu heyecanı ve coşkuyu yaşamak ve yaşatmak adına Hatay Büyükşehir Belediye Şehir Tiyatrosu olarak yapılandık.<br>

                                            <br>Geçmişi yirmi beş yıl öncesine kadar giden büyük şehir belediyesi tiyatrosu, Hatay'a tiyatro anlamında daha kapsamlı, daha özgün çalışmalarla hizmet etmek adına faaliyet göstermektedir.Tiyatroyu Hatay'ın her köşesine ulaştırabilmek için adımlar atmakta ve bunun altyapısını bitirmek üzereyiz. En geç iki ay içerisinde yeni yerine taşınacak olan belediye şehir tiyatromuz burada oluşturacağı ortamla tüm Hatay'a sesleneceği bir merkeze dönüşecektir.<br>

                                            <br />
                                        </span>
                                    </div>

                                    <div class="col-xs-1 col-sm-1 col-md-1" style="background-color:transparent">

                                        <img src="~/Resimler/hh.jpg" width="600" height="400">
                                        <br />
                                        <br />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1" style="background-color:transparent">
                                        <img src="~/Resimler/h2.jpg"/>
                                    </div>

                                <div class="col-xs-11 col-sm-push-11 col-md-push-11"  style="background-color:transparent; left:600px">
                                        <br>Defne ilçesine bağlı Çekmece mahallesindeki yeni yerine taşınacak olan tiyatromuz başta Hatay'ın yetiştirdiği sanatçılar olmak üzere Hatay'a hizmet etmek isteyen herkese kapılarını açacaktır.Tarihi yüzyıllar öncesine dayanan ve birçok medeniyete ev sahipliği yapan Hatay'ın; kültürel mirasını tiyatro anlamında gelecek kuşaklara aktarmak gibi bir misyonu olan tiyatromuz sanatsal anlamda Hatay halkına ilkleri sergilemek adına çalışmalarda yapmaktadır.<br>

                                        <br>Her sezonda en az iki büyük, iki çocuk oyunuyla sahnelerini açmayı planlayan tiyatromuz; bölgemizde bir ilk olan okul öncesi çocuklara yönelik <b>"Masal Saati"</b> etkinlikleri, 8-11 yaş grubu çocuklardan oluşturulacak <b>"Çocuk Tiyatrosu"</b> ile halkımızın karşısına çıkacaktır.<br>

                                        <br>Bunların yanında geleneksel hale getireceği tiyatro festivalleri, ramazan şenlikleri, drama ve oyunculuk çalışmaları, yetişkinlerden ve toplumun her kesiminden gönüllerden oluşacak fahri tiyatro ekipleri ile tüm Hatay'ımızı kucaklayacak etkinliklere imza atacaktır.<br />
                                        <br>Başta tiyatro olmak üzere sanatsal anlamda Hatay'a değer katmak için varız. Hatay tiyatrosu ile her şey daha güzel..<br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>*@


@*<img src="~/Resimler/h2.jpg" align="left">*@
    @*<h3 style="text-align:right"><i>Sanattan mahrum bir milletin hayat damarlarından biri kopmuş demektir.</i></h3>*@
    @*<h3 style="text-align:right; "><i>Mustafa Kemal Atatürk</i></h3>*@
@*</body>
    </html>*@
