
@{
    ViewBag.Title = "Oyuncular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CSS/OyuncularStyle.css" />
</head>
<body>
    <div class="oyuncular">
        <h4 style="color:white"><b>OYUNCULAR</b></h4>
    </div>
    <div class="container">
        <div>
            <div class="jumbotron" style="background-color:transparent">

                <h2>Oyuncular</h2>

                <div>
                    <div class="form-group row">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-left-block" src="~/Resimler/emrekinay.jpg" style="width:250px; height:200px; object-fit:cover" />
                                <br />
                                <h4>Emre Kinay</h4>
                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    Dostlar Tiyatrosu, Bakırköy Belediye Tiyatroları gibi topluluklarda görev almaktadır.

                                    Kurucusu olduğu Duru Tiyatro topluluğunda hâlen oyunlar sergilemekte ve dizi filmlerde oynamaktadır. Yılan Hikâyesi dizisinde canlandırdığı Erkan Ağa ve Yeditepe İstanbul dizisinde canlandırdığı Yusuf Karakterleri ile tanındı.

                                    Güneşi Beklerken adlı dizide basketbol hocası Cihan'ı, daha sonra bir lise dizisinde sonradan okula dönen bir avukatı canlandırmış, Sergen Yalçın, Murat Dalkılıç gibi isimlerle rol almıştır.
                                </span>
                            </div>
                            <div class="col-xs-10 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-center-block" src="~/Resimler/7638_mujdatgezen.png" style="width:250px; height:200px; object-fit:cover;" />
                                <br />
                                <h4>Müjdat Gezen</h4>
                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    Gezen, 1963 yılında ilk özel tiyatro çalışmasını yaptı. Münir Özkul ve Muammer Karaca Tiyatroları'na girdi. 1963-64 yıllarında sanat dergilerinde şiirleri çıktı. 1966 yılında Ulvi Uraz Tiyatrosu'na girdi. 1967 yılında arkadaşlarıyla birlikte Halk Oyuncuları'nı kurdu. 1968 yılında ilk kez kendi özel tiyatrosunu açtı ve aynı sezon İstanbul Tiyatrosu'nda çalıştı. Yine aynı yıl İstanbul Belediye Konservatuvarıve sonradan İ.Ü. Devlet Konservatuvarı'nda Türk Tiyatrosu öğretmenliği yaptı.amlet Efendi adlı oyunu ödül aldı ve Devlet Tiyatroları'nda oynandı.
                                </span>
                            </div>
                            <div class="col-xs-10 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-right-block" src="~/Resimler/nil.jpg" style="width:250px; height:200px; object-fit:cover;" />
                                <br>
                                <h4>Nilgün Belgün</h4>
                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    İstanbul Belediye konservatuarı Şan ve Tiyatro Bölümünden mezun oldu.
                                    1973 yılında Devekuşu Kabare Tiyatrosu'nda "Haneler" oyunuyla profesyonel oyuncu oldu. Daha sonra Ali Poyrazoğlu Tiyatrosu,Levent Kırca Tiyatrosu, Dormen Tiyatrosu, Tiyatro İstanbul, Gencay Gürün gibi topluluklarda çalıştı.Rol aldığı bazı tiyatro oyunları İkinin Biri : Ray Cooney - Dormen Tiyatrosu,Bir Kış Öyküsü,Papaz Kaçtı,Keşanlı Ali Destanı,Matruşka,Yedi Kocalı Hürmüz,Hoşça Kal İstanbul..
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-left-block" src="~/Resimler/haluk-bilginer-mesleksiz-unlulere-sanatci-diyoruz,W8yuHK_AUkSQuD5C36Bxww.jpg" style="width:250px; height:200px; object-fit:cover;" />
                                <br />
                                <h4>Haluk Bilginer</h4>
                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    1987 yılında ilk defa Gecenin Öteki Yüzü adlı film çekimi için İstanbul'a geldi ve bu filmin setinde 1992'de evleneceği Zuhal Olcay ile tanıştı. Hayatını bir süre İstanbul-Londra arasında sürdürdü. 1992'de evlendikten sonra çift, Hollywood'da "Indiana Jones" dizisinde, Türkiye'de de Yavuz Özkan'ın "İki Kadın" filminde birlikte rol aldı. 1996'da Tomris Giritlioğlu'nun 80. Adım filminde, ardından "İstanbul Kanatlarımın Altında", "Usta Beni Öldürsene", ve "Masumiyet" gibi ödüllü filmlerde rol aldı.

                                    Oyunculuğunu tiyatro sahnesinde sürdürmek isteyen Haluk Bilginer, 1990 yılında Ahmet Levendoğlu ve Zuhal Olcay ile Tiyatro Stüdyosu'nu kurdu. Tiyatro Stüdyosu`nun Aldatma (Harold Pinter), Kan Kardeşleri (Willy Russell), Derin Bir Soluk Al (Ben Elton), Çöplük (Turgay Nar), Histeri (Terry Johnson) ve Balkon (Jean Genet) oyunlarında başrolleri üstlendi.
                                </span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-center-block" src="~/Resimler/evrimalasya.jpg" style="width:250px; height:200px; object-fit:cover;" />
                                <br />
                                <h4>Evrim Alasya</h4>
                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    İzmir Dokuz Eylül Üniversitesi Konservatuar bölümünün ardından 2003 yılında Pınar çocuk tiyatrosuyla mesleğe başladı. 2006 yılına kadar çocuk tiyatrosunda çalıştı. 2006 yılından sonra da Zuhal Olcay ve Haluk Bilginer tarafından 1999 yılında kurulan Oyun Atölyesi’nde çalışmaktadır. Pınar Çocuk Tiyatrosunda Rol aldığı Oyunlar "Lokamapüf, Mutluluk Dağıtan Eskici, Mavi Pullu Balık, Yel Değirmeni gibi.." Oyun Atölyesindeki Rol Aldığı Tiyatro Oyunları "Atinalı Timon : William Shakespeare, 7 Şekspir Müzikali : William Shakespeare"
                                </span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-4">
                                <img class="img-responsive img-circle img-thumbnail text-right-block" src="~/Resimler/noyuncu.jpg" style="width:250px; height:200px; object-fit:cover;" />
                                <br />
                                <h4>Zerrin Tekindor</h4>
                                <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                    1985 yılında Hacettepe Üniversitesi Devlet Konservatuvarı Tiyatro Bölümü'nden mezun olmuştur. 1985 yılında Devlet Tiyatrosunda göreve başlamıştır. Ankara Devlet Tiyatrosu'nda pek çok oyunda oynamıştır. 2003 yılında İstanbul Devlet Tiyatrosuna tayin olan Zerrin Tekindor, İstanbul'da da, Müfettiş, Dünyanın Ortasında Bir Yer ve Vahşet Tanrısı adlı oyunlarda rol almıştır. 2004 yılında Müfettiş adlı oyundaki Anna Andreyevna rolü ile, 2010 yılında Vahşet Tanrısı adlı oyundaki Annette Reille rolü ile ve 2014 yılında Kim Korkar Hain Kurttan adlı oyundaki Martha rolü ile 3. kez Afife Tiyatro Ödülüne layık görülmüştür.

                                    2012 yılında Oyun Atölyesi prodüksiyonu olan Antonius ile Kleopatra adlı oyunda yer almıştır. Oyun, Globe to Globe festivali kapsamında Londra Shakespeare's Globe tiyatrosunda sahnelenmiştir.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
