@{
    ViewBag.Title = "Oyunlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="oyuncular">
        <h4 style="color:white"><b>OYUNCULAR</b></h4>
    </div>
    <div class="container">
        <div>
            <div class="jumbotron" style="background-color:transparent">
                </div>
            </div>
        </div>
</body>
</html>

