
@*@{
    ViewBag.Title = "film1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="content">
        <h4 style="color:white;"><b>FILMLER</b></h4>
    </div>
    <div class="container">
       
        <div class="jumbotron" style="background-color:#9C201A">
            <div class="form-group row">
                <div class="row">
                    <h2 style="text-align:center; color:white;">Yuvaya Dönüş</h2>
                    <div class="col-xs-6 col-md-6">
                        <img class="img-responsive img-thumbnail" src="~/Resimler/yuvaya-donus.png" width="450" height="250" />
                    </div>
                    <div class="col-md-6">
                        <h4 style="text-align:right; color:white">
                            Yönetmen: M. Hakan Kurşun 
                            <br />
                            Oyuncular: Furkan Palalı, Megumi Masaki, Burhan Öcal
                            <br />
                            Vizyon Tarihi: 12.07.2019
                            <br />
                            Süre: 105 Dakika
                            <br />
                            Tür: Aile
                          
                            <br />
                        </h4>
                      
                        
                        <br />
                        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:20px; text-align:right; color:white">
                            Özet  1985 yılında İran-Irak Savaşı devam ederken, Irak uçaklarının bombaladığı Tahran’da 215 Japon yolcu mahsur kalmıştı. Japon yolcuları kurtarmak için İstanbul’dan havalanan THY uçağı
                         sadece Tahran’a değil, aynı zamanda büyük bir aşkın da ortasına iniyordu. Tahliye edilen yolculardan biri de Keiko’ydu. Tahran’da görev yapan Türk istihbarat subayı Zafer 
                        Tuna’nın büyük aşkı… Aradan 34 yıl geçmiş, Keiko ölmüş, ardında ise kızı Yumi’ye bütün gerçekleri anlatan bir mektup bırakmıştı. Annesinin ölümünden sonra gerçek babasının kimliğini
                         öğrenen Yumi Türk olan babasından hesap sormak için Türkiye’ye gelmişti. İstanbul’da tanıştığı yakışıklı taksici Mesut ile Kapadokya’ya giden Yumi, annesini terk eden babası Zafer 
                        Tuna’nın tam karşısındaydı. Ona karşı öfke doluydu. Ama bilmediği büyük sırlar vardı.  </p>

                        <span style="font-size:30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                            @Html.ActionLink("Geri Dön", "Filmler", "Home")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>*@

